/* Переменные */
:root {
  --bg-color: #70908b;
  --font-family-H: "Cormorant Infant", serif;
  --font-family-text: "Raleway", sans-serif;
}

*,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body,
html {
  min-height: 100vh;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

.wallpaper {
  width: 1920px;
  height: 992px;
  left: 0px;
  top: 0px;

  background: #eaeeef;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Header */
.header {
  display: flex;
}

.header > div {
  flex: 1;
}

/*Header logotip */
.header__logo {
  margin-top: 35px;
  margin-left: 60.62px;
}

/* Header navigation */
li {
  display: inline;

  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

  color: #195557;

  /* list-style-type: none; */
}

a:active {
  list-style-type: disclosure-open;
}

/* Header contact */
.header__contact > div {
  float: left;
  width: 69px;
  height: 69px;
  background: linear-gradient(1.36deg, #b0d3ce 12.29%, #ffedce 83.89%);
  box-shadow: -4px -4px 20px #ffffff, 4px 4px 20px #cfd7d3;
  border: 1px solid #70908b;
  border-radius: 40px;

  margin-right: 20px;
}

.header__contact img {
  width: 32px;
  height: 32px;
}

.header__contact p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;

  color: #195557;
}

.header__basket {
  margin-left: 80px;
}

h1 {
  text-align: center;
}

h2 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
  text-align: center;

  /* identical to box height */

  text-transform: uppercase;

  color: #70908b;

  border: 1px solid #000000;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #70908b;
}

/* Big hedgehog */

.big-hedgehog {
  display: flex;
}

.big-hedgehog-1 {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*  Icon */

.icon {
  height: 152px;
  width: 152px;
  border-radius: 50%;
  box-shadow: 4px 4px 20px #c2ccca, -8px -8px 20px #ffffff;
  margin: 0 auto;
}

.icon-1 {
  background-color: #ffedcd;
  text-align: center;
}

.icon-2 {
  background-color: #e2f0df;
  text-align: center;
}

.icon-3 {
  background-color: #70908b;
  text-align: center;
  border: 1px solid #94afab;
}

h4 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  text-transform: uppercase;

  color: #195557;
}

h4 + p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;

  color: #195557;
}

/* Cards */

.card {
  width: 1184px;
  height: 410px;
  border: 1px solid #000000;
}

.card-1 {
  background-color: rgba(255, 237, 205, 1);
}

.card-2 {
  background-color: rgba(226, 240, 223, 1);
}

.sale {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  font-feature-settings: "pnum" on, "lnum" on;

  color: #ffffff;
  background-color: #70908b;
}

h3 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #195557;
}

.card-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #000000;
}

.old-price {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: line-through;

  color: #c2ccca;
}

.new-price {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #195557;
}

/* Form */

.form-btn-text button,
p {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #70908b;
}

button {
  box-sizing: border-box;

  width: 170px;
  height: 49px;

  background: #ffffff;
  border: 2px solid #70908b;
  border-radius: 61px;
}

.first-btn {
  color: #ffffff;

  background: #70908b;
}
